<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="userService" class="com.icss.service.UserServiceImpl"></bean>
<bean id="beforeAdvice" class="com.icss.advice.BeforeUserMethodAdvice"></bean>
<bean id="afterAdivce" class="com.icss.advice.AfterUserMethodAdvice"></bean>

<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="proxyInterfaces">
		<value>com.icss.service.UserService</value>
	</property>
	<property name="target">
		<ref local="userService"/>
	</property>
	<property name="interceptorNames">
		<list>
			<value>beforeAdvisor</value>
			<value>afterAdivce</value>
		</list>
	</property>
</bean>

<bean id="beforeAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="beforeAdvice"/>
		</property>
		<property name="pattern">
			<value>.*User</value>
		</property>
	</bean>




</beans>