<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="before"
		class="com.icss.oa.methodBeforeAdvice.ProxySubjectBeforeAdvice">
	</bean>
	<bean id="after"
		class="com.icss.oa.methodBeforeAdvice.ProxySubjectAfterAdvice">
	</bean>
	<bean id="subject" class="com.icss.oa.methodBeforeAdvice.RealSubject"></bean>
	<bean id="proxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.icss.oa.methodBeforeAdvice.Subject</value>
		</property>
		<property name="target">
			<ref bean="subject" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>before</value>
				<value>after</value>
			</list>
		</property>
	</bean>

</beans>